body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Add padding to container for footer --start*/
.container {
  padding-bottom: 60px !important;
}
/*Add padding to container for footer --end*/


/*Card Styles -- start*/
.card-img-top {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-group {
  height: 100%;
}

.card-body {
  justify-content: space-between;
}
/*Card Styles -- end*/
/*Footer Styles -- Start*/
.icons a img{
  width: 32px !important;
  height: 32px !important;
}

footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 60px !important;
}

/*main {
  position: relative;
  min-height: 100vh;
}*/
/*Footer Styles -- END*/

/*Set page headings to center -- start*/
h1 {
  text-align: center;
}
/*Set page headings to center -- end*/
/*set about page styles -- start*/



@media (max-width: 575px) {
  .card {
    width: 30rem !important;
  }
  
}
