body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-img-top {
  max-height: 12rem;
}
.card {
  height: 23rem;
}

.text-left {
  text-align: left !important;
}

h1 {
  text-align: center;
}

@media (max-width: 575px) {
  .card {
    width: 30rem !important;
  }
  
}
